.btn-style {
  background-color: transparent;
  font-size: 18px;
  color: #7b8794;
  border-width: 0px 0px 1px 0px;
  border-color: #dfe2e5;
  padding: 20px;
  padding-bottom: 0px;
  font-family: 'Roboto';
  font-weight: 500;
  cursor: pointer;
}

.active-tab {
  color: #2563eb;
  border-width: 0px 0px 3px 0px;
  border-style: solid;
  border-color: #2563eb;
}
